{{ define "header" }}
<header class="header-section ">
    <div class="intro-header no-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Posts</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}
{{ define "main" }}
<div class="container" role="main">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="posts-list">
                {{ range .Data.Pages.GroupByDate "2006" }}
                <h2>{{ .Key }}</h2>

                {{ range .Pages }}
                <div class="post-listing">
                    <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>
                    {{ if .Params.tags }}
                        {{ range .Params.tags }}
                        #<a href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ . | urlize }}/" class="tag-link">{{ . }}</a>&nbsp;
                        {{ end }}
                    {{ end }}
                </div>
                {{ end }}

                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}

